#ex5-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ex5-table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 2px solid #333;
}

/* Table rows */
#ex5-table tr {
  border: 1px solid gray;
  text-align: center;
  font-size: 18px;
}